.nutriscore-logo{
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 4rem;
    top: -1rem;
    line-height: 2rem;
    border-radius: 50%;
}

.nutriscore-text{
    color: white;
    font-weight: 600;
    transform: translate(-1px,1px)
}

.nutriscore-A{
    background-color: #038141 !important;
}
.nutriscore-B{
    background-color: #85bb2f !important;
}
.nutriscore-C{
    background-color: #fecb02 !important;
}
.nutriscore-D{
    background-color: #ee8100 !important;
}
.nutriscore-E{
 background-color: #e63e11 !important;
}
.nutriscore-F{
    background-color: #000000 !important;
}

.photo{
    justify-content: center;
}

.photo img{
    max-height: 200px;
    width:auto;
}

.card{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.image-container{
    justify-content: center;
}


.image-container img{
    max-height: 300px;
    width:auto;
    
}

.left-column{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;

}

.left-column {
    justify-content: center;
}

.username{
   text-align: center;
}

.profile-card{
    text-align: center;
}

.register-form{
    justify-content: center;
}

.login-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.register-form form input,
.login-form form input{
    margin-top: 20px;
}

.login-form p{
    margin-top: 50px;
}

.legal-notice-card{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}