{% extends 'products/base.html'%}

{% block content %}

{% include 'products/nav.html'%}

<header class="masthead">
    <div class="container">
        <h1 class="col-12 username text-white">
            Ahoy! <br/>
            {% if user.first_name != None and user.last_name != None %}
                {{user.first_name}} {{user.last_name}}
            {% else %}
                
            {% endif %}
        </h1>
        <div class="card profile-card col-12">
            <p>email: {{user.email}}</p>
        </div>
    </div>
</header>

{% include 'products/footer.html'%}

{% endblock content %}