{% load static %}


<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/#page-top" ><img style="max-height:100px;" alt='logo' src="{% static 'products/img/logo_purbeurre/logo_pur_beurre.png' %}"> Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarResponsive" 
            aria-controls="navbarResponsive" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <form action="{% url 'search' %}" method="GET" >
                <input type='text' id='nav-search' name='nav-search'/>
                </form>
                <li class="nav-item">
                    <a class="nav-link" title="Mon compte" alt="Mon compte" href="{% url 'profile' %}">
                        Mon Compte
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Mes Favoris" alt="Mes favoris" href="#">
                        Mes Favoris
                        <img class="nav-link" alt='mes favoris' src="{% static 'products/img/carotte/carrot.svg' %}">
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout" title='Déconnexion' alt="Déconnexion">
                            Déconnexion
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login" title='Connexion' alt="connexion">
                            Connexion
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>