{% extends 'products/base.html' %}
{% load static %}

{% block content%}
    {% include 'products/nav.html' %}

        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <img src="{{product.off_img_link}}" alt="{{product.off_img_link}}" class="">
                                </div>
                                <div class="row">
                                    <h1>{{  product.name }}</h1>
                                </div>
                                <div class="row">
                                    <h2>{{ product.category }} </h2>
                                </div>
                                <div class="row">
                                    <h3>nutriscore: {{ product.nutriscore }} </h2>
                                </div>
                                <div class="row">
                                    <a href="{{ product.off_link }}">lien openfoodfacts</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h3>valeurs nutritionnelles</h3>
                                <table class="mx-auto">
                                    <thead>
                                        <tr>
                                            <th colspan="2"> valeur nutritionnelle pour 100g</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>energie ({{product.energy_unit}})</td>
                                            <td>{{product.energy_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>glucides (g)</td>
                                            <td>{{product.carbohydrates_100g }}</td>
                                        </tr>
                                        <tr>
                                            <td>dont sucres (g)</td>
                                            <td>{{product.sugars_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>graisses(g)</td>
                                            <td>{{product.fat_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>dont graisses saturées (g)</td>
                                            <td>{{product.saturated_fat_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>fibres (g)</td>
                                            <td>{{product.fiber_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>protéines (g)</td>
                                            <td>{{product.proteins_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>sel (g)</td>
                                            <td>{{product.salt_100g}}</td>
                                        </tr>
                                        <tr>
                                            <td>dont sodium (g)</td>
                                            <td>{{product.sodium_100g}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col-12 col-md-6" action="{% url 'toggle-favourite' %}" method="POST">
                                {% csrf_token %} 
                                <input type="hidden" name="product_id" value="{{product.id}}" hidden />
                                <input type="hidden" name="is_favourite" value="{{product.is_favourite}}" hidden />
                                {% if not favourite_toggle_inactive %}
                                {% if product.is_favourite is False %}
                                <input class="btn btn-primary btn-xl" type='submit' value='sauvegarder dans mes favoris'/>
                                {% else %}
                                <input class="btn bg-grey border border-primary btn-xl" type='submit' value='supprimer de mes favoris'/>
                                {% endif %}
                                {% else %}
                                <input class="btn btn-secondary btn-xl" type='submit' value='sauvegarder dans mes favoris' title="Vous devez vous connecter pour pourvoir utiliser cette fonctionnalité" disabled/>
                                {% endif %}
                            </form>
                            <form class="col-12 col-md-6" action="{% url 'find-alternatives' %}" method="get">
                                <input type="text" name="product_id" value="{{product.id}}" hidden />
                                <input type='submit' class="btn btn-primary btn-xl" value='trouver une alternative'/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </header>

    {% include 'products/footer.html' %}
{% endblock content%}